################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clBoard/.vs/clBoard/v14/.suo
